.gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
  max-width: 1200px;
  margin: 150px auto 0;
}

.gallery-image {
  width: 360px;
  transition: width 200ms ease-in-out;
}

.gallery-image:hover {
  width: 376px;
}
