.feedback-form {
  margin: 50px auto 0;
  width: 410px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.feedback-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 24px;
  margin-top: 8px;
  letter-spacing: 0.64px;
}

.feedback-label:first-child {
  margin-top: 0;
}

.feedback-input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
}

.feedback-input:hover,
.feedback-input:active,
.feedback-input:focus {
  border-color: #000000;
}

textarea.feedback-input {
  resize: none;
  height: 80px;
  overflow: auto;
}

.feedback-submit-btn {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;

  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: fit-content;
}

.feedback-submit-btn:hover,
.feedback-submit-btn:active,
.feedback-submit-btn:focus {
  background-color: #6c8cff;
}
